.img{
  
  width: 1350px;
  height: 500px;
}
.row{
  display: inline-flex;
  margin-top: 0.5cm;
  padding-left: 3.5cm;
}

.d-flex{
  display: inline-flex;
  margin-top: 1cm;
  margin-bottom: 0.5cm;
  padding-left: 15cm;
}
.lien{
  margin-top: 1cm;
  margin-bottom: 0.7cm;
  padding-left: 15cm;

}
.titre{
  margin-top: 1cm;
  margin-bottom: 0.5cm;
  color: purple;
  padding-left: 19cm;
}
.titre:hover{
  color: palevioletred;
}
.Search{
  margin-top: 1cm;
  margin-bottom: 0.5cm;
  padding-left: 15cm;
  color: purple;
}
.d-flex{margin-top: 1cm;
padding-left: 11cm;
font-size: x-large;
}
.p{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 1150px;
height: 100px;
padding-left: 15cm;
color: palevioletred;
}
.p:hover {
  color: purple;
}
.image {
  padding-left: 19cm;
}
.photo{
  background-image: url(./Res/backgrd.jpg);
  width: 1330px;
}
.link{
  padding-left: 5.5cm; 
}